@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GreyCliff";
  src: url("../public/fonts/GreycliffCF-ExtraBold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "GreyCliff";
  src: url("../public/fonts/GreycliffCF-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "GreyCliff";
  src: url("../public/fonts/GreycliffCF-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "GreyCliff";
  src: url("../public/fonts/GreycliffCF-Bold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "IBM";
  src: url("../public/fonts/IBMPlexSans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "IBM";
  src: url("../public/fonts/IBMPlexSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "IBM";
  src: url("../public/fonts/IBMPlexSans-SemiBold.ttf");
  font-weight: 500;
}

@layer componentsStaking {
  .disabled {
    @apply pointer-events-none select-none opacity-50 cursor-not-allowed;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .animation {
    animation-duration: 10s;
    animation-name: slidein;
    animation-fill-mode: forwards;
  }

  @keyframes slidein {
    0% {
      margin-left: -500px;
    }
    8.33%,
    25% {
      margin-left: 0px;
    }
    33.33%,
    50% {
      margin-left: 0px;
    }
    58.33%,
    75% {
      margin-left: 0px;
    }
    83.33%,
    100% {
      margin-left: -500px;
    }
  }
  .loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-left: 4px solid #ff7700;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Custom */
::selection {
  background-color: #f5e8d4;
  color: #0b0a09;
}

tr:first-child .firstRow {
  @apply md:rounded-tl-2xl 
}

tr:last-child .firstRow {
  @apply md:rounded-bl-2xl 
}

tr:first-child td:first-child  { 
  @apply rounded-tl-2xl rounded-tr-2xl md:rounded-tr-none
}
tr:first-child td:last-child { 
  @apply md:rounded-tr-2xl
}

tr:last-child td:last-child{
  @apply rounded-br-2xl rounded-bl-2xl md:rounded-bl-none
}

tr:last-child td:first-child{ 
  @apply md:rounded-bl-2xl
}

html {
  height: 100%;
  background-color: #0b0a09;
}

