@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GreyCliff";
  src: url("../public/fonts/GreycliffCF-ExtraBold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "GreyCliff";
  src: url("../public/fonts/GreycliffCF-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "GreyCliff";
  src: url("../public/fonts/GreycliffCF-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "GreyCliff";
  src: url("../public/fonts/GreycliffCF-Bold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "IBM";
  src: url("../public/fonts/IBMPlexSans-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "IBM";
  src: url("../public/fonts/IBMPlexSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "IBM";
  src: url("../public/fonts/IBMPlexSans-SemiBold.ttf");
  font-weight: 500;
}

@layer componentsAssets {
  .disabled {
    @apply pointer-events-none select-none opacity-50 cursor-not-allowed;
  }

  td {
    @apply p-5 bg-darkGray2 border-b-2 border-b-black;
  }

  .asset:first-of-type td {
    @apply first:rounded-bl-none first:border-l-darkGray2 first:rounded-l-3xl
    last:rounded-br-none last:border-r-darkGray2 last:rounded-r-3xl;
  }

  .asset:last-of-type td {
    @apply first:rounded-tl-none first:border-l-darkGray2 first:rounded-l-3xl
    last:rounded-tr-none last:border-r-darkGray2 last:rounded-r-3xl;
  }

  .assetOneItem:first-of-type td {
    @apply first:border-l-darkGray2 first:rounded-l-3xl
    last:border-r-darkGray2 last:rounded-r-3xl;
  }

  .accordion:first-of-type .accordion-item {
    @apply first:rounded-bl-none first:border-l-darkGray2 first:rounded-l-3xl
    last:rounded-br-none last:border-r-darkGray2 last:rounded-r-3xl;
  }

  .accordion:last-of-type .accordion-item {
    @apply first:rounded-tl-none first:border-l-darkGray2 first:rounded-l-3xl
    last:rounded-tr-none last:border-r-darkGray2 last:rounded-r-3xl;
  }

  .subrow {
    @apply border-b-2 border-b-black pb-4;
  }
  .subrow:last-of-type {
    @apply last:border-b-0 last:border-b-black;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .animation {
    animation-duration: 10s;
    animation-name: slidein;
    animation-fill-mode: forwards;
  }

  @keyframes slidein {
    0% {
      margin-left: -500px;
    }
    8.33%,
    25% {
      margin-left: 0px;
    }
    33.33%,
    50% {
      margin-left: 0px;
    }
    58.33%,
    75% {
      margin-left: 0px;
    }
    83.33%,
    100% {
      margin-left: -500px;
    }
  }
  .loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-left: 4px solid #ff7700;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Custom */
::selection {
  background-color: #f5e8d4;
  color: #0b0a09;
}

html {
  height: 100%;
  background-color: #0b0a09;
}
